.box { 
    width: 250px;
    height: 200px;
    background-color: green;
    border: 2px solid black;
    border-radius: 50px;
    /* margin: 0 auto; */
}
.box:hover { 
    background-color: gold;
    border: 5px solid blue;
}
.content { 

        width: 400px;
        height: 200px;
        background: red;
        border-radius: 200px / 50px;
        /* margin: 0 auto; */
      }
    .content:hover { 
       background-color: blue; 
       width: 200px;
       height: 200px;
    }
.figers { 
    
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-left: 100px solid yellow;
        border-bottom: 50px solid transparent;
        /* margin: 0 auto; */
      }
    .figers:hover { 
        background-color: blueviolet;
    }
      .yin-yang {
        width: 96px;
        box-sizing: content-box;
        height: 48px;
        background: #eee;
        border-color: red;
        border-style: solid;
        border-width: 2px 2px 50px 2px;
        border-radius: 100%;
        position: relative;
        /* margin: 0 auto; */
      }
      .yin-yang:hover { 
        background-color: white;
        border-color: black;
      }
      .yin-yang:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        background: #eee;
        border: 18px solid red;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        box-sizing: content-box;
      }
      .yin-yang:before:hover { 
        background: antiquewhite;
        border: 18px solid black;
      }
      .yin-yang:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        background: green;
        border: 18px solid white;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        box-sizing: content-box;
      }
      .yin-yang:after:hover { 
        background: orange;
        border: 18px solid blue;
      }
      /* --------------------------------------------- */
      body{ 
        margin: 30px; 
        padding: 0; 
    } 
    .container { 
        width: 1440px; 
         
    } 
    .header { 
        width: 100%; 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        background-color: rgb(43, 41, 41); 
        }     
    .nav { 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            gap: 64px;  
        } 
    .header h1{ 
            padding-left: 20px; 
            font-family: outfit; 
            color: #fff; 
            font-weight: 700; 
            line-height: 38px; 
            letter-spacing: -2%; 
            text-align: center; 
            font-size: 25px; 
        } 
    .nav ul { 
            display: flex; 
            height: 100%; 
            align-items: center; 
            list-style: none; 
            gap: 24px; 
             
        } 
     
    .nav ul li a { 
            color: #fff; 
            font-family: Outfit; 
            font-size: 20px; 
            font-weight: 400; 
            line-height: 23px; 
            letter-spacing: 0%; 
            text-align: left; 
            text-transform: capitalize; 
            text-decoration: none; 
             
        } 
    .ali { 
    margin: 0 25px; 
    } 
            
    .ali img{ 
        width: 22px; 
        height: 22px; 
        padding: 5px;    
    } 
    .main-top{ 
        display: flex; 
    } 
    .main { 
        width: 100%; 
        margin: 5px auto; 
        border: 1px solid rgb(59, 56, 56); 
        background-color: rgb(70, 64, 64); 
    } 
    .main-left { 
        margin: 75px; 
    } 
    .main-left h2{ 
        color: #fff; 
        font-size: 40px; 
     
    } 
    .main-left p { 
        color: #fff; 
        font-size: 20px; 
    } 
    .main-left p span{ 
        font-size: 15px; 
        color: gray; 
    } 
    .main-left button{ 
        width: 100px; 
        height: 35px; 
        border-radius: 4px; 
        background-color: red; 
        border: none;  
        color: white;   
    } 
    .main-left button:hover{ 
        background-color: rgb(153, 235, 153); 
    } 
    .adilet img{ 
        width: 100%; 
        height: 400px; 
        padding: 20px ; 
        border-radius: 55px; 
        margin-left: 50px; 
    } 
     
     
    .cards{ 
        padding: 20px ; 
        display: flex; 
        gap: 60px; 
         
    } 
    .card{ 
        width: 330px; 
        border-radius: 6px; 
        box-shadow: 0 5px 10px black; 
        padding: 8px; 
        margin: 0 auto; 
    } 
    .card img { 
        object-fit: cover; 
        height: 230px; 
        border-radius: 6px; 
        width: 100%; 
      } 
      .card h3{ 
        margin-left: 20px; 
      } 
    .car{ 
        padding-left: 20px; 
        padding-right: 20px; 
    } 
    .car h2{ 
        font-size: 20px; 
    } 
    .car-text{ 
        width: 280px; 
        height: 40px; 
        background-color: rgb(121, 232, 169); 
        border-radius: 5px; 
        font-size: 15px; 
        color: white; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        margin-left: 10px; 
    }    
    .footer{ 
        width: 100%; 
        height: 30px; 
        background-color: rgb(49, 54, 49); 
        margin: 0 auto; 
    } 
    .footer p { 
        color: #fff; 
        text-align: center; 
        padding-top: 5px; 
     
    }
