.box { 
    width: 250px;
    height: 200px;
    background-color: green;
    border: 2px solid black;
    border-radius: 50px;
    margin: 0 auto;

}
.content { 

        width: 400px;
        height: 200px;
        background: red;
        border-radius: 200px / 50px;
        margin: 0 auto;
      }
    .content:hover { 
       background-color: blue; 
    }
.figers { 
    
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-left: 100px solid red;
        border-bottom: 50px solid transparent;
      }
    .figers:hover { 
        background-color: blueviolet;
    }
  